@mixin margin-top ($margin) {
	margin-top:$margin;
}

@mixin margin-bottom ($margin) {
	margin-bottom:$margin;
}

@mixin padding($ptop, $pright, $pbottom, $pleft) {
	padding-top: $ptop;
	padding-bottom: $pbottom;
	padding-right: $pright;
	padding-left: $pleft;
}